@import '~/theme/styles/_keyframes.scss';
.bell {
  display: block;
}

.bellRing {
  @extend .bell;
  -webkit-animation: ring 4s 0.9s ease-in-out infinite !important;
  -webkit-transform-origin: 50% 4px !important;
  -moz-animation: ring 4s 0.9s ease-in-out infinite !important;
  -moz-transform-origin: 50% 4px !important;
  animation: ring 4s 0.9s ease-in-out infinite !important;
  transform-origin: 50% 4px !important;
}
.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0px 30px 20px 0px;
}
.buttonFiler {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  text-align: center;
  width: 80px;
  height: 30px;
  background-color: #f0f2f5;
  border-radius: 20px;
}
.title{
  font-size: 24px;
  font-weight: 500;
  color: #000;
}
.buttonFiler.active {
  background-color: #4d6883;
  color: #f4f5f6;
}
.popoverContent {
  width: 340px;
  min-height: 400px;
}
.list {
  :global {
    .ant-list-item-action {
      margin-inline-start: 0 !important;
    }
    .ant-list-item-meta {
      align-items: center !important;
    }
  }
}
.listItem {
  padding: 6px 0px !important;
  border-radius: 8px;
  cursor: pointer;
  &.unread {
    background-color: #f5f5f5;
  }
}
