@import '~/theme/styles/_mixins.scss';
.header {
  display: flex;
  background-color: $background-primary;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.headerContainer {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  padding: 12px 24px;
  height: 73px;
  background-color: $background-primary;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.btnCollapse {
  font-size: 16px;
  width: 64px !important;
  height: 73px !important;
}
.headerContent {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 16px;
}

.icon {
  font-size: 20px;
  color: #444;
}

.badge {
  .ant-badge-count {
    background-color: red;
    color: white;
    box-shadow: 0 0 0 2px white;
  }
}
.avatar {
  width: 55px;
  height: 55px;
}
.userProfile {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 48px;
  cursor: pointer;
  span {
    color: #444;
  }
}
.popoverContent {
  width: 350px;
}

.popoverHeader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  height: 100px;
  font-size: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.popoverUserInfo {
  flex-grow: 1;
  margin-left: 10px;
  a {
    display: block;
    color: #1890ff;
  }
}

.notificationBadge {
  padding: 10px 0 0 15px;
  a {
    font-weight: 700;
    color: $blue-color;
    padding-right: 10px;
  }
}

.popoverList {
  padding: 0;
}

.popoverListItem {
  display: flex;
  align-items: center;
  padding: 12px 10px !important;
  justify-content: flex-start !important;
  cursor: pointer;
  &:hover {
    background-color: #f5f5f5;
  }
  span {
    padding-left: 15px;
  }
}
.menuLanguage {
  min-width: 326px;
}
.spinnerOverlay {
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  //align-items: center;
  z-index: 1000;
}
.headerSearch {
  max-width: 500px;
  border-radius: 10px;
}
@media (max-width: 576px) {
  .header {
    justify-content: flex-end;
    margin-left: 0px;
  }
  .headerContainer {
    padding: 12px 0 10px 24px;
  }
}
.searchPopover {
  width: 300px;
  max-height: 400px;
  overflow-y: auto;

  .recentSearchesHeader {
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid #f0f0f0;
  }

  .ant-list-item {
    cursor: pointer;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
