.reactionCount {
  display: flex;
  align-items: center;
}
.iconReact {
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tooltip {
  width: 70px;
}
.avatar{
  border: 1px solid #e0e0e0;
}
.userName {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; 
}
