.tooltipTime {
    :global {
      .ant-tooltip-content .ant-tooltip-inner {
        padding: 3px 8px;
        background-color: #636363 !important;
        border-radius: 4px;
        color: #fff !important;
      }
    }
  }
  .avatar {
    width: 42px;
    height: 42px;
    background-color: #fff0f6;
    color: #eb2f96;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 14px;
  }
  .avatarSeenUser {
    width: 30px;
    height: 30px;
    background-color: #fff0f6;
    color: #eb2f96;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
    margin: 2px 0;
  }
